body {
  background: linear-gradient(to right, #7739aa, #143852, #ff009d, green);
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0; }

.responsive {
  max-width: 75%;
  height: auto; }

.displayBox {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.scroll-box {
  overflow-y: auto;
  height: 31.4rem;
  float: left;
  padding: 1rem; }

/*css for footer*/
.copyright {
  width: 100%;
  text-align: center;
  background-color: #7474b4;
  padding: 1.5rem; }
  .copyright p {
    font-size: 1rem;
    color: wheat; }

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  /* top: -2.5rem;
    right: 2rem; */
  bottom: 1.5rem;
  right: 3.5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer; }
  .up i {
    color: #221e3f;
    font-size: 2rem;
    margin: auto; }
  .up:hover {
    background: url("/img/Prempp.JPG") no-repeat center center;
    width: 15rem;
    height: 15rem; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99); }
  50% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0.99); }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0); } }

@media screen and (max-width: 526px) {
  .up {
    /*  width: 3rem;
        height: 3rem;
        bottom: 1rem;
        right: 3rem; */
    display: none; } }

header {
  height: 100vh; }

.navigation_checkbox {
  display: none; }

.navigation_button {
  background-color: #e0d5d5;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(8, 10, 12, 0.2);
  text-align: center;
  cursor: pointer; }

.navigation_background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  background-image: radial-gradient(#3b0c49, #120520);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation_nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation_item {
  margin: 1rem; }

.navigation_link:link, .navigation_link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #e0d5d5;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #e0d5d5 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation_link:link span, .navigation_link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation_link:hover, .navigation_link:active {
  background-position: 100%;
  color: #996ee7;
  transform: translateX(1rem); }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80); }

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%; }

.navigation_icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation_icon, .navigation_icon::before, .navigation_icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation_icon::before, .navigation_icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation_icon::before {
    top: -.8rem; }
  .navigation_icon::after {
    top: .8rem; }

.navigation_button:hover .navigation_icon::before {
  top: -1rem;
  animation: animation_pulse 1s ease infinite; }

.navigation_button:hover .navigation_icon::after {
  top: 1rem;
  animation: animation_pulse 1s ease infinite; }

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(-135deg); }

@keyframes animation_pulse {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.7); } }

.hero .hero-area .author {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .hero .hero-area .author .author-img {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    margin: 0 auto;
    background: url(img/download.jpg) no-repeat;
    background-size: 100%;
    background-position: center; }

.chatbot-main {
  width: 100%;
  float: left;
  padding: 30px 0; }
  .chatbot-main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
    color: white; }
  .chatbot-main .user-area,
  .chatbot-main .chatbot-area {
    width: 20%;
    height: calc(100vh - 60px);
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 80px;
    z-index: 99999; }
    .chatbot-main .user-area img,
    .chatbot-main .chatbot-area img {
      width: 100%; }
  .chatbot-main .chatarea-main {
    width: 42%;
    margin: 0 auto; }
    .chatbot-main .chatarea-main .chatarea-outer {
      width: 100%;
      float: left; }
      .chatbot-main .chatarea-main .chatarea-outer .chatarea-inner {
        float: left;
        width: 60%;
        padding: 10px;
        color: #fff;
        position: relative;
        margin: 5px 0; }
        .chatbot-main .chatarea-main .chatarea-outer .chatarea-inner.user {
          background: #6522A4; }
          .chatbot-main .chatarea-main .chatarea-outer .chatarea-inner.user:before {
            content: '';
            position: absolute;
            border-right: 20px solid #6522A4;
            border-top: 20px solid transparent;
            border-bottom: 0px solid transparent;
            bottom: 0;
            left: -20px; }
        .chatbot-main .chatarea-main .chatarea-outer .chatarea-inner.chatbot {
          background: #466EB6;
          float: right; }
          .chatbot-main .chatarea-main .chatarea-outer .chatarea-inner.chatbot:before {
            content: '';
            position: absolute;
            border-left: 20px solid #466EB6;
            border-top: 20px solid transparent;
            border-bottom: 0px solid transparent;
            bottom: 0;
            right: -20px; }
  .chatbot-main .chatbot-area {
    float: right;
    right: 80px;
    left: auto; }
  .chatbot-main .mic-box {
    position: absolute;
    top: 15%;
    left: 15%; }
    .chatbot-main .mic-box .object {
      display: flex;
      flex: 0 1 100%;
      justify-content: center;
      align-items: center;
      align-content: stretch; }
      .chatbot-main .mic-box .object .outline {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 8px solid #B5A4A4;
        animation: pulse-for-mic 3s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        position: absolute; }
      .chatbot-main .mic-box .object .button {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #50CDDD;
        box-shadow: 0px 0px 80px #0084F9;
        position: absolute; }
        .chatbot-main .mic-box .object .button .mic-icon {
          height: 60px;
          position: absolute;
          margin: 21px; }
      .chatbot-main .mic-box .object #circlein {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #6BD6E1;
        box-shadow: 0px -2px 15px #E0FF94;
        position: absolute; }
      .chatbot-main .mic-box .object #delayed {
        animation-delay: 1.5s; }

@keyframes text-animation {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.7); } }

@keyframes pulse-for-mic {
  0% {
    transform: scale(0);
    opacity: 0;
    border: 65px solid #0B3082; }
  50% {
    border: solid #A3FFC2;
    opacity: 0.8; }
  90% {
    transform: scale(3.2);
    opacity: 0.2;
    border: 3px solid #2E3CFF; }
  100% {
    transform: scale(3.3);
    opacity: 0;
    border: 1px solid #7A89FF; } }

.contact-page {
  width: 100%;
  height: 100vh;
  position: relative; }
  .contact-page .container {
    width: 100%;
    height: 100%; }
    .contact-page .container form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .contact-page .container form .form-data {
        display: block; }
        .contact-page .container form .form-data div {
          margin: 2rem;
          padding: 1rem;
          background-color: white;
          border-radius: 3.1rem;
          border: none; }
          .contact-page .container form .form-data div input {
            width: 100%;
            padding: .4rem;
            border: none;
            font-size: 1.2rem; }
      .contact-page .container form span {
        color: white;
        font-size: 1.5rem;
        margin: 2.4rem; }
  .contact-page p {
    color: white;
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 10px; }
  .contact-page .btn {
    text-transform: uppercase;
    font-size: 16px;
    height: 50px;
    width: 150px;
    overflow: hidden;
    background: #4dbecf;
    border-radius: 50px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border: 0;
    cursor: pointer;
    transition: all .3s ease;
    animation: yourAnimation 3s ease-in-out;
    margin: 2rem; }
    .contact-page .btn:hover, .contact-page .btn:focus {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }
    .contact-page .btn.animated {
      animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards; }

@keyframes yourAnimation {
  0% {
    transform: rotate(360deg) scale(2) translateX(5px) translateY(-35%) skewX(15deg) skewY(-10deg);
    transform-origin: 60% 60%;
    background: #c7ed;
    opacity: .4;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    width: 150px;
    height: 50px;
    margin: 15px;
    padding: 10px;
    border: 5px solid purple;
    box-shadow: 5px 5px 2px;
    outline: 2px solid white; } }

.calendar-container {
  width: 100%;
  height: 100%;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center; }
  .calendar-container .calendar {
    margin-top: 4rem;
    width: 46rem;
    height: 52rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    padding-right: 4rem; }
    .calendar-container .calendar .month {
      width: 100%;
      height: 12rem;
      background-color: #167e56;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }
      .calendar-container .calendar .month i {
        font-size: 2.5rem;
        cursor: pointer; }
      .calendar-container .calendar .month h1 {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
        text-align: center; }
      .calendar-container .calendar .month p {
        font-size: 1.6rem;
        text-align: center; }
    .calendar-container .calendar .weekdays {
      width: 100%;
      height: 5rem;
      padding: 0 2rem;
      display: flex;
      align-items: center; }
      .calendar-container .calendar .weekdays div {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: calc(44.2rem/7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }
    .calendar-container .calendar .days {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0.2rem 2rem; }
      .calendar-container .calendar .days div {
        font-size: 1.3rem;
        margin: 0.3rem;
        width: calc(40.2rem/7);
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        transition: background-color 0.2s; }
        .calendar-container .calendar .days div:hover:not(.today) {
          background-color: #262626;
          border: 0.2rem solid #777;
          cursor: pointer; }
      .calendar-container .calendar .days .prev-date,
      .calendar-container .calendar .days .next-date {
        opacity: 0.3; }
      .calendar-container .calendar .days .today {
        background-color: #167e56; }
