.contact-page {
    width: 100%;
    height: 100vh;
    position: relative;
    
    .container {
        width: 100%;
        height: 100%;

        form{
           // border: 1px solid green;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            .form-data {
                //border: 1px solid red;
                display: block;

                div {
                    margin: 2rem;
                    padding: 1rem;
                    background-color: white;
                    border-radius: 3.1rem;
                    border: none;

                    input {
                        width: 100%;
                        padding: .4rem;
                        border: none;   
                        font-size: 1.2rem;
                    }
                }
            }
            span {
                //border: 1px solid red ;
                color: white;
                font-size: 1.5rem;
                margin: 2.4rem;
            }
        }
    }
    

    p {
        color: white;
        font-size: 35px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .btn {
        text-transform: uppercase;
        font-size: 16px;
        height: 50px;
        width: 150px;
        overflow: hidden;
        background: #4dbecf;
        border-radius: 50px;
        box-shadow: 0 15px 30px rgba(black,.1);
        border: 0;
        cursor: pointer;
        transition: all .3s ease;
        animation: yourAnimation 3s ease-in-out;
        margin: 2rem;

        &:hover,
        &:focus {
            box-shadow: 0 5px 15px rgba(black,.1);
        }
        &.animated {
            animation: .75s short-press cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
          }
    }
}

@keyframes yourAnimation{
  0%{
      transform: rotate(360deg) scale(2) translateX(5px) translateY(-35%) skewX(15deg) skewY(-10deg);
      transform-origin: 60% 60%;
      background: #c7ed;
      opacity: .4;
      color: white;
      font-size: 14px;
      font-weight: bolder;
      width: 150px;
      height: 50px;
      margin: 15px;
      padding: 10px;
      border: 5px solid purple;
      box-shadow: 5px 5px 2px ;
      outline: 2px solid white;
  }
}
