// COLORS

$color-primary: #996ee7;
$color-primary-light: #3b0c49;
$color-primary-dark: #120520;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: rgb(224, 213, 213);
$color-black: rgb(8, 10, 12);

